.basket_wrapper {
   position: fixed;
   bottom: 12%;
   left: 50%;
   transform: translateX(-50%);
   width: 55vh;
   height: 70vh;
   background-color: #fff;
   border-radius: 10px;
   outline: solid 2px #f0dbdb;
   display: flex;
   animation: open-model 1s;

   .dev_bask_wrapper {
      display: block;
      flex: 1 1 auto;
      padding-bottom: 50px;

      .basket {
         max-width: none;
         height: 100%;


         .basket_item_wrapper {
            overflow: auto;

            .basket_item {}
         }
      }

      .basket_button_wrapper {

         .basket_button_end {}
      }

   }
}

@media (max-width: 550px) {
   .basket_wrapper {
      width: 48vh;
   }
}

@keyframes open-model {
   from {
      bottom: -100%;
   }

   to {
      bottom: 12%;
   }
}

.adaptive_block_wrapper {
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 2;
   background-color: #fff;
   display: none;
   width: 100%;
   height: 72px;
   justify-content: center;

   .adaptive_block {
      display: flex;
      align-items: flex-end;
      gap: 40px;

      .adapt_item {
         padding-bottom: 9px;

         .style_text {
            color: #111;
            font-family: 'DinPro-medium', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
         }

         .adaptive_block_menu_link,
         .adaptive_block_basket_link,
         .adaptive_block_reviews_link {
            position: relative;
         }

         .adaptive_block_menu_link::before,
         .adaptive_block_basket_link::before,
         .adaptive_block_reviews_link::before {
            content: '';
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-repeat: no-repeat;
         }

         .adaptive_block_menu_link::before {
            background-image: url('../image/adaptMenu.svg');
            width: 49px;
            height: 30px;
         }

         .adaptive_block_basket_link::before {
            background-image: url('../image/adaptBasket.svg');
            width: 34px;
            height: 34px;
         }


         .adaptive_block_reviews_link::before {
            background-image: url('../image/adaptViewers.svg');
            width: 32px;
            height: 32px;
         }
      }

   }
}


@media (max-width:1200px) {
   .adaptive_block_wrapper {
      display: flex;
   }
}