.basket_list_wrapper {
   width: 290px;
   padding-left: 65px;
   padding-top: 60px;


   .baslet_list_button {
      height: 50px;
      width: 100%;
      margin-bottom: 10px;

      .basket_button {
         height: 100%;
         color: #000;
         text-align: center;
         font-family: 'DinPro-medium', sans-serif;
         font-size: 24px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
         width: 100%;
         border-radius: 5px;
         background: #F2F2F2;
      }
   }

   .basket_list {
      display: flex;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;


      .basket_list_img {
         width: 70px;
         height: 47px;
         flex-shrink: 0;

         img {
            max-width: 100%;
         }
      }

      .basket_list_content {
         overflow: hidden;
         text-overflow: ellipsis;

         .basket_list_content_name {
            overflow: hidden;
            text-overflow: ellipsis;
            color: #000;
            font-family: 'DinPro-regular', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
         }

         .basket_list_content_cena {
            display: flex;

            .basket_list_content_count {
               display: flex;
               align-items: center;
               gap: 9px;

               span {
                  color: #000;
                  font-family: 'DinPro';
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
               }
            }

            .basket_list_content_suma {
               color: #000;
               text-align: right;
               font-family: 'DinPro';
               font-size: 18px;
               font-style: normal;
               font-weight: 700;
               line-height: normal;
            }
         }
      }
   }


   .basket_list_infa {
      padding-top: 100%;

      .basket_infa:last-child {
         border-bottom: none;
      }

      .basket_infa {
         display: flex;
         justify-content: space-between;
         border-bottom: solid 0.5px #A4ACAD;
         padding-bottom: 10px;
         padding-top: 10px;

         .basket_list_infa_count_name {
            color: #000;
            font-family: 'DinPro-medium', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

         }

         .basket_list_infa_count_meaning {
            color: #000;
            text-align: right;
            font-family: 'DinPro-medium', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
         }

         .col {
            color: #FF9846;
         }
      }

      .basket_list_infa_count {}

      .basket_list_infa_sale {}

      .basket_list_infa_delivery {}

      .basket_list_infa_total {}
   }
}