@import '../style.scss';

.dev_bask_wrapper {
   display: flex;
   flex-direction: column;
   gap: 20px;


   .basket {
      border-radius: 5px;
      min-height: 140px;
      display: flex;
      flex-direction: column;
      @include adaptiv-value('max-width', 290, 200, 0);

      .basket_state {
         color: #000;
         text-align: center;
         font-family: 'DinPro-medium', sans-serif;
         font-size: 24px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
         padding-top: 12px;
         padding-bottom: 10px;
         background: #F2F2F2;
         border-radius: 5px;
      }

      .basket_call {
         color: #A4ACAD;
         text-align: center;
         font-family: 'DinPro-regular', sans-serif;
         font-size: 18px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         padding-bottom: 25px;
         background: #F2F2F2;
         padding-top: 10px;
      }

      .basket_item_wrapper {
         background-color: #fff;
         padding-top: 10px;


         .basket_item {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: flex;
            padding-top: 10px;
            gap: 10px;

            .basket_item_img {
               width: 70px;
               height: 47px;
               flex-shrink: 0;

               img {
                  max-width: 100%;
               }
            }

            .basket_item_content {
               overflow: hidden;
               text-overflow: ellipsis;
               width: 100%;
               padding-right: 42px;

               .basket_item_content_name {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: #000;
                  font-family: 'DinPro-regular', sans-serif;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
               }

               .basket_item_content_cena {
                  display: flex;
                  justify-content: space-between;
                  gap: 30px;

                  .basket_item_content_count {
                     display: flex;
                     align-items: center;
                     gap: 9px;

                     span {
                        color: #000;
                        font-family: 'DinPro';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                     }
                  }

                  .basket_item_content_suma {
                     color: #000;
                     text-align: right;
                     font-family: 'DinPro';
                     font-size: 18px;
                     font-style: normal;
                     font-weight: 700;
                     line-height: normal;
                  }
               }
            }
         }
      }

      .basket_list_infa {
         padding-top: 100%;

         .basket_infa:last-child {
            border-bottom: none;
         }

         .basket_infa {
            display: flex;
            justify-content: space-between;
            border-bottom: solid 0.5px #A4ACAD;
            padding-bottom: 10px;
            padding-top: 10px;

            .basket_list_infa_count_name {
               color: #000;
               font-family: 'DinPro-medium', sans-serif;
               font-size: 18px;
               font-style: normal;
               font-weight: 500;
               line-height: normal;

            }

            .basket_list_infa_count_meaning {
               color: #000;
               text-align: right;
               font-family: 'DinPro-medium', sans-serif;
               font-size: 18px;
               font-style: normal;
               font-weight: 500;
               line-height: normal;
            }

            .col {
               color: #FF9846;
            }
         }

         .basket_list_infa_count {}

         .basket_list_infa_sale {}

         .basket_list_infa_delivery {}

         .basket_list_infa_total {}
      }

      .basket_button_wrapper {

         .basket_button {
            color: #F2F2F2;
            font-family: 'DinPro-regular', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            width: 100%;
            background-color: #FF9846;
            border-radius: 0px 0px 5px 5px;
            height: 40px;
         }

         .basket_button_end {
            display: flex;
            padding-top: 20px;
            align-items: center;

            .basket_cost_full {
               flex: 1 0 40%;
               color: #000;
               text-align: center;
               font-family: 'DinPro';
               font-size: 24px;
               font-style: normal;
               font-weight: 700;
               line-height: normal;
            }

            .basket_button_order {
               flex: 1 0 60%;
               color: #F2F2F2;
               text-align: center;
               font-family: 'DinPro-regular';
               font-size: 18px;
               font-style: normal;
               font-weight: 400;
               line-height: normal;
               border-radius: 5px;
               background: #F46D40;
               height: 40px;
               display: flex;
               align-items: center;
               justify-content: center;
            }
         }
      }
   }


   .delivery {
      height: 225px;
      border-radius: 5px;
      background: #F2F2F2;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      @include adaptiv-value(' max-width', 290, 200, 0);

      iframe {
         height: 116px;
         max-width: 100%;
      }

      .deliver_icon {
         position: absolute;
         top: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 60px;
         height: 60px;
         border-radius: 50%;
         background-color: #FF9846;
         transform: translateY(-50%);
         flex-shrink: 0;
      }

      .delivery_address {
         color: #000;
         text-align: center;
         font-family: 'DinPro-medium', sans-serif;
         font-size: 24px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
         padding-bottom: 10px;
         padding-top: 38px;
         order: 1;
      }

      .delivery_time {
         color: #A4ACAD;
         text-align: center;
         font-family: 'DinPro-regular', sans-serif;
         font-size: 18px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         order: 2;
      }
   }
}

@media (max-width:$laptop) {
   .dev_bask_wrapper {
      display: none;
   }
}