@font-face {
   font-family: 'DinPro';
   src: url('../font/dinpro_bold.otf') format('opentype');
   font-weight: bold;
}

@font-face {
   font-family: 'DinPro-light';
   src: url('../font/dinpro_light.otf') format('opentype');
   font-weight: 300;
}