@import '../style.scss';

.header {
   font-family: 'DinPro-light', sans-serif;

   .header__container {
      .header_content {
         background: #F2F2F2;
         display: flex;
         border-bottom: solid 0.5px #A4ACAD;
         align-items: center;
         //justify-content: space-between;
         @include adaptiv-value('padding-right', 40, 20, 0);
         padding-top: 5px;
         padding-bottom: 8px;

         .tablet_logo {
            @include adaptiv-value('width', 87, 47, 0);
            @include adaptiv-value('height', 83, 43, 0);
            display: none;


            .tablet_logo_img {
               width: 100%;
               height: 100%;
               max-width: 100%;
            }


         }

         @media (max-width:$tablet) {
            .tablet_logo {
               display: block;
               flex-shrink: 0;
            }
         }

         .header_content_contact_inf {
            display: flex;
            align-items: center;

            .header_contact {
               font-family: 'DinPro-medium', sans-serif;
               font-style: normal;
               font-weight: 500;
               line-height: normal;
               border-right: solid 0.5px #A4ACAD;
               padding-right: 18px;
               padding-left: 18px;

               .header_contact_phone {
                  display: flex;
                  flex-direction: column;
                  text-align: center;

                  .header_contact_title {
                     color: #111;
                     @include adaptiv-value('font-size', 18, 12, 0);
                  }

                  a {
                     color: #FF9846;
                     @include adaptiv-value('font-size', 18, 12, 0);
                  }

                  a:hover {
                     text-decoration: underline;
                  }
               }


               .header_work_time_wrapper {
                  padding-top: 5px;

                  .header_work_time {
                     color: #A4ACAD;
                     font-size: 14px;
                     letter-spacing: 0.03em;
                     padding-left: 25px;
                     position: relative;
                  }

                  .header_work_time::before {
                     content: '';
                     position: absolute;
                     left: 0;
                     top: 50%;
                     transform: translateY(-50%);
                     background-image: url('../image/clock.svg');
                     background-repeat: no-repeat;
                     width: 15px;
                     height: 15px;
                  }
               }
            }

            @media (max-width:$tablet) {
               .header_contact {
                  display: flex;
                  gap: 30px;
                  border-right: 0px;
                  align-items: flex-end;
                  padding: 0;

                  .header_work_time_wrapper {
                     .header_work_time {
                        text-align: center;
                        font-size: 12px;
                        max-width: 90px;
                        padding-left: 0px;
                     }

                     .header_work_time::before {
                        top: -15px;
                        left: 50%;
                        transform: translateX(-50%);
                     }
                  }
               }
            }

            .header_content_contact_inf_city {
               padding-left: 18px;


               .header_city {
                  color: #A4ACAD;
                  font-family: 'DinPro-light', sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: normal;
               }

               .header_city_name {
                  color: #000;
                  font-family: 'DinPro-regular', sans-serif;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
               }

               .lang {
                  background-color: #F46D40;
                  margin-right: 10px;
                  color: white;
                  padding: 5px;
               }
            }

            @media (max-width:$tablet) {
               .header_content_contact_inf_city {
                  display: none;
               }
            }

            .languages {
               display: flex;
               flex-direction: column;
               padding-left: 10px;
               gap: 10px;

               .lang {
                  border-radius: 5px;
                  background-repeat: no-repeat;
                  background-size: 100% 100%;
                  width: 25px;
                  height: 25px;
                  color: white;
               }

               .ua {
                  background-image: url('../image/ua.png');
               }

               .en {
                  background-image: url('../image/en.png');
               }
            }

            @media (max-width:$tablet) {
               .languages {}
            }



         }


         .header_work_information_nav {
            display: flex;
            align-items: center;
            @include adaptiv-value('padding-right', 70, 30, 0);
            flex: 1 1 auto;
            justify-content: flex-end;

            .header_work_information_list {
               color: #111;
               font-family: 'DinPro-regular', sans-serif;
               font-size: 18px;
               font-style: normal;
               font-weight: 400;
               line-height: normal;
               display: flex;


               .header_work_information_link {
                  margin-right: 10px;
               }

               .header_work_information_link:hover {
                  color: #FF9846;
               }
            }

            @media (max-width:$laptop) {
               .header_work_information_list {
                  display: none;
               }
            }
         }

         .search_active {
            flex: 1 1 auto;
            border-bottom: 2px solid #A4ACAD;
            transition: all 0.8s ease-in-out;
            width: 600px;

            .header_work_information_search {
               position: relative;

               #search_input {
                  width: 100%;
                  height: 50px;
                  border-radius: 5px;
                  padding-left: 15px;
                  font-family: 'DinPro-regular', sans-serif;
                  font-size: 18px;
               }

               #search_input[hidden] {
                  display: inline-block;
               }

               #search_button {
                  .find {
                     position: absolute;
                     right: 15px;
                     top: 50%;
                     transform: translateY(-50%);
                  }
               }


            }
         }

         .body_background {
            position: fixed;
            left: 0;
            top: 0;
            background-color: transparent;
            z-index: 8;
            width: 100%;
            height: 100%;
         }

         .header_work_information_search_wrapper {

            background-color: #fff;

            position: relative;
            z-index: 12;

            .result_search_wrapper {
               max-height: 300px;
               overflow: auto;
               position: absolute;
               z-index: 10;
               background-color: #fff;
               width: 100%;
               border-bottom-left-radius: 10px;
               border-bottom-right-radius: 10px;

               .result_search {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;

                  .result_found {
                     display: flex;
                     height: 80px;
                     justify-content: space-between;
                     border-bottom: 1px solid #A4ACAD;

                     .body_background {
                        position: fixed;
                        left: 0;
                        top: 0;
                        background-color: transparent;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                     }

                     .result_img {
                        max-width: 130px;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                     }

                     .result_found_content {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        flex: 1 1 auto;

                        .result_found_name {
                           color: #000;
                           font-family: 'DinPro', sans-serif;
                           @include adaptiv-value('font-size', 22, 17, 0);
                           font-style: normal;
                           line-height: none;
                        }

                        .result_found_weight {
                           color: #A4ACAD;
                           font-family: 'DinPro-light', sans-serif;
                           @include adaptiv-value('font-size', 18, 14, 0);
                           font-style: normal;
                           font-weight: 300;
                           line-height: normal;

                           span {
                              padding-right: 5px;
                           }
                        }

                        .result_found_cost {
                           color: #000;
                           font-family: 'DinPro', sans-serif;
                           @include adaptiv-value('font-size', 22, 16, 0);
                           font-style: normal;
                           line-height: normal;
                        }
                     }

                     .buy {
                        border-radius: 5px;
                        background: #F46D40;
                        color: #F2F2F2;
                        text-align: center;
                        font-family: "DinPro-medium", sans-serif;
                        font-size: calc(18px + 6 * (100vw - 360px) / 1560);
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        padding: 0 30px 0 30px;
                     }
                  }


                  .result_found:hover {
                     background-color: #f8e0e0;
                  }

               }


            }


         }
      }

      @media (max-width: $tablet) {
         .header_content {
            flex-wrap: wrap;
            column-gap: 30px;
            padding-right: 15px;

         }
      }
   }
}