@import '../style.scss';


.item_block {
   background-color: #FFF;
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   max-width: 290px;
   justify-content: space-between;

   .item_block_img {
      height: 48%;
      @include adaptiv-value('width', 253, 100, 0);
      @include adaptiv-value('height', 210, 84, 0);
      margin: 0 auto;

      .item_img {
         max-width: 100%;
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   .item_detail {

      .item_block_name {
         color: #000;
         font-family: 'DinPro-medium', sans-serif;
         @include adaptiv-value('font-size', 24, 14, 0);
         font-style: normal;
         font-weight: 500;
         line-height: normal;
         padding-left: 15px;
         padding-bottom: 16px;
         max-width: 180px;
      }

      .item_block_quantity {
         color: #A4ACAD;
         font-family: 'DinPro-regular', sans-serif;
         @include adaptiv-value('font-size', 18, 14, 0);
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         padding-left: 15px;
         padding-bottom: 20px;
      }

      .item_block_buy {
         display: flex;
         justify-content: space-between;
         align-items: center;
         border-top: solid 0.5px #A4ACAD;
         padding-top: 10px;
         padding-bottom: 10px;
         padding-right: 10px;

         .item_block_cena {
            color: #000;
            font-family: 'DinPro', sans-serif;
            @include adaptiv-value('font-size', 24, 14, 0);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @include adaptiv-value('padding-left', 15, 0, 0);
            white-space: nowrap;
         }

         .item_block_button {

            .item_button {
               border-radius: 5px;
               background: #F46D40;
               color: #F2F2F2;
               text-align: center;
               font-family: 'DinPro-medium', sans-serif;
               @include adaptiv-value('font-size', 24, 18, 0);
               font-style: normal;
               font-weight: 500;
               line-height: normal;
               padding-top: 5px;
               padding-bottom: 5px;
               @include adaptiv-value('padding-left', 42, 25, 0);
               @include adaptiv-value('padding-right', 42, 25, 0);
            }
         }
      }
   }


}