@import '../style.scss';

.product_item_wrapper {
   -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

   .product_item__container {

      .product_item_content {
         background: #F2F2F2;

         #add_inf {
            display: none;
         }

         @media (max-width:$tablet) {
            #add_inf {
               display: block;
            }
         }

         .product_item_controls_wrapper {
            @include adaptiv-value('padding-right', 40, 20, 0);
            @include adaptiv-value('padding-left', 40, 20, 0);
            @include adaptiv-value('padding-top', 50, 16.5, 0);
            @include adaptiv-value('padding-bottom', 50, 16.5, 0);

            .product_item_controls {
               .product_item_controls_list {
                  display: flex;
                  justify-content: space-between;

                  .product_item_controls_item {
                     .product_item_controls_link {
                        color: #000;
                        font-family: 'DinPro-regular', sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                     }

                     .product_item_controls_link:hover {
                        color: #FF9846;
                     }

                     .control_pre {
                        position: relative;
                        padding-left: 35px;
                     }

                     .control_next {
                        position: relative;
                        padding-right: 35px;
                     }

                     .control_pre::before,
                     .control_next::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 20px;
                        height: 20px;
                     }

                     .control_pre::before {
                        left: 0;
                        background-image: url('../image/backIcon.svg');
                     }

                     .control_next::after {
                        right: 0;
                        background-image: url('../image/nextIcon.svg');
                     }
                  }
               }
            }
         }

         .product_item {
            display: flex;
            border-radius: 5px;
            background: #FFF;

            .product_item_img {
               flex: 1 1 50%;

               img {
                  max-width: 100%;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
               }
            }

            .product_item_info {
               flex: 1 1 50%;
               padding-top: 20px;
               padding-bottom: 45px;

               .product_item_name {
                  color: #000;
                  font-family: 'DinPro-medium', sans-serif;
                  @include adaptiv-value('font-size', 48, 24, 0);
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  padding-bottom: 10px;
                  max-width: 360px;
               }

               .product_item_weight {
                  color: #FF9846;
                  font-family: 'DinPro-light', sans-serif;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: normal;
                  padding-bottom: 40px;
               }

               .product_price_count {
                  display: flex;
                  align-items: center;
                  gap: 30px;

                  .product_item_price {
                     color: #000;
                     font-family: 'DinPro', sans-serif;
                     font-size: 24px;
                     font-style: normal;
                     font-weight: 700;
                     line-height: normal;
                  }

                  .product_item_count {
                     display: flex;
                     align-items: center;
                     gap: 20px;

                     #quantity {
                        color: #000;
                        font-family: 'DinPro', sans-serif;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                     }

                     .product_counter_button {
                        background: transparent;
                     }
                  }
               }

               .product_item_composition_title {
                  color: #111;
                  font-family: 'DinPro-medium', sans-serif;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  padding-top: 25px;
               }

               .product_item_composition_details {
                  color: #111;
                  font-family: 'DinPro-light', sans-serif;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: normal;
                  padding-bottom: 35px;
               }

               .product_buy_button {
                  color: #F2F2F2;
                  text-align: center;
                  font-family: 'DinPro-medium', sans-serif;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  border-radius: 5px;
                  background: #F46D40;
                  height: 40px;
                  padding-right: 65px;
                  padding-left: 65px;
               }
            }
         }

         @media (max-width:$tablet) {
            .product_item {
               flex-direction: column;
               align-items: center;
               padding: 15px;

               .product_item_img {
                  max-width: 620px;
                  max-width: 435px;
               }

               .product_item_info {
                  display: grid;
                  grid-template-areas:
                     'name name'
                     'weight weight'
                     'cena button';
                  padding-bottom: 0;

                  .product_item_weight {
                     grid-area: weight;
                  }

                  .product_price_count {
                     grid-area: cena;

                     .product_item_count {
                        display: none;

                     }
                  }

                  .product_item_composition_title {
                     display: none;
                  }

                  .product_item_composition_details {
                     display: none;
                  }

                  .product_buy_button {
                     grid-area: button;
                  }

               }
            }
         }

         .product_slider_wrapper {
            padding-top: 30px;
            position: relative;

            .product_slider_title {
               color: #000;
               font-family: 'DinPro-medium', sans-serif;
               font-size: 24px;
               font-style: normal;
               font-weight: 500;
               line-height: normal;
               text-align: center;
               padding-bottom: 20px;
            }

            .product_slider {
               overflow: hidden;
               @include adaptiv-value('margin-left', 155, 55, 0);
               @include adaptiv-value('margin-right', 155, 55, 0);

               .product_sliders {
                  display: flex;
                  @include adaptiv-value('gap', 130, 30, 0);
                  transform: translate3d(0px, 0, 0);

               }
            }

            .product_slider_control_wrapper {
               position: absolute;
               left: 0;
               top: 50%;
               transform: translateY(-50%);
               width: 100%;

               .product_slider_control {
                  .product_slider_control_list {
                     display: flex;
                     justify-content: space-between;

                     .product_slider_control_item {
                        .product_slider_control_link {
                           svg {
                              @include adaptiv-value('width', 60, 38, 0);
                              @include adaptiv-value('height', 60, 38, 0);
                           }
                        }

                        .product_slider_control_link:hover {
                           svg {
                              ellipse {
                                 fill: #FF9846;
                              }
                           }
                        }
                     }
                  }
               }

            }
         }
      }

      @media (max-width:$tablet) {
         .product_item_content {
            padding: 0 15px 0 15px;
         }
      }

   }

}

@-webkit-keyframes scale-up-hor-center {
   0% {
      -webkit-transform: scaleX(0.4);
      transform: scaleX(0.4);
   }

   100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
   }
}

@keyframes scale-up-hor-center {
   0% {
      -webkit-transform: scaleX(0.4);
      transform: scaleX(0.4);
   }

   100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
   }
}