@import '../style.scss';


.slider_food_wrapper {
   //position: relative;
   position: relative;

   .slider_food {
      overflow: hidden;

      .slider_food_items {
         display: flex;
         gap: 40px;
         transform: translate3d(0px, 0px, 0px);
         transition: all 0.5s ease-in-out;


      }

      .slider_food_controls {

         .slider_controller_pre {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -110px;
            cursor: pointer;
            user-select: none;
         }

         .slider_controller_next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -110px;
            cursor: pointer;
            user-select: none;
         }
      }
   }

}

@media (max-width:$laptop) {
   .slider_food_wrapper {
      display: none;
   }

}