$laptop: 1200px;
$tablet: 768px;


//Адаптивное свойство
$maxWidth: 1920;
$maxWidthContainer: 1200;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
   $addSize: $startSize - $minSize;

   @if $type==1 {
      //Только если меньше контейнера
      #{$property}: $startSize + px;

      @media (max-width: #{$maxWidthContainer + px}) {
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidthContainer - 320}));
      }
   }

   @else if $type==2 {
      //Только если больше контейнера
      #{$property}: $startSize + px;

      @media (min-width: #{$maxWidthContainer + px}) {
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidth - 360}));
      }
   }

   @else {
      //Всегда
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidth - 360}));
   }
}


a,
a:visited {
   text-decoration: none;

}

ul li {
   list-style: none;
}

button {
   cursor: pointer;
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: none;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

html,
body {
   height: 100%;
   line-height: 1;
   background: #FFFFFF;
   font-size: 16px;
}

#root {
   // height: 100%;
   // line-height: 1;
}

.wrapper {
   // display: flex;
   // flex-direction: column;
   // overflow: clip;
   // min-height: 100%;
   display: grid;
   grid-template-areas:
      'menu header basket'
      'menu main basket'
      'menu footer basket';
   grid-template-columns: auto minmax(0, 1200px) auto;
   grid-template-rows: auto 1fr auto;
   min-height: 100vh;
}

.header {
   grid-area: header;
}

.footer {
   grid-area: footer;
}

.aside_menu_wrapper {
   grid-area: menu;
   justify-self: end;
   padding-right: 15px;
   padding-top: 30px;
   padding-left: 15px;
}

.dev_bask_wrapper {
   grid-area: basket;
   padding-left: 15px;
   padding-top: 55px;
   padding-right: 15px;
}

.main {
   grid-area: main;
   //padding: 0 15px 0 15px;
   //background-color: #F2F2F2;
}

[class*="__container"] {
   max-width: 1200px;
   margin: 0px auto;
   padding: 0px 15px;
}

@media (max-width:$tablet) {
   [class*="__container"] {
      max-width: 1200px;
      margin: 0px auto;
      padding: 0px 0px;
   }
}

[class*="__min_container"] {
   max-width: 980px;
   margin: 0px auto;
   padding: 0px 15px;
}

.item_block {
   background-color: #FFF;
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   max-width: 290px;
   justify-content: space-between;

   .item_block_img {
      height: 48%;
      @include adaptiv-value('width', 253, 100, 0);
      @include adaptiv-value('height', 210, 84, 0);
      margin: 0 auto;

      .item_img {
         max-width: 100%;
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   .item_detail {

      .item_block_name {
         color: #000;
         font-family: 'DinPro-medium', sans-serif;
         @include adaptiv-value('font-size', 24, 14, 0);
         font-style: normal;
         font-weight: 500;
         line-height: normal;
         padding-left: 15px;
         padding-bottom: 16px;
         max-width: 180px;
      }

      .item_block_quantity {
         color: #A4ACAD;
         font-family: 'DinPro-regular', sans-serif;
         @include adaptiv-value('font-size', 18, 14, 0);
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         padding-left: 15px;
         padding-bottom: 20px;
      }

      .item_block_buy {
         display: flex;
         justify-content: space-between;
         align-items: center;
         border-top: solid 0.5px #A4ACAD;
         padding-top: 10px;
         padding-bottom: 10px;
         padding-right: 10px;

         .item_block_cena {
            color: #000;
            font-family: 'DinPro', sans-serif;
            @include adaptiv-value('font-size', 24, 14, 0);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @include adaptiv-value('padding-left', 15, 0, 0);
            white-space: nowrap;
         }

         .item_block_button {

            .item_button {
               border-radius: 5px;
               background: #F46D40;
               color: #F2F2F2;
               text-align: center;
               font-family: 'DinPro-medium', sans-serif;
               @include adaptiv-value('font-size', 24, 18, 0);
               font-style: normal;
               font-weight: 500;
               line-height: normal;
               padding-top: 5px;
               padding-bottom: 5px;
               @include adaptiv-value('padding-left', 42, 25, 0);
               @include adaptiv-value('padding-right', 42, 25, 0);
            }
         }
      }
   }


}

.order_details {
   padding-top: 50px;

   .order_details_title {
      color: #A4ACAD;
      font-family: 'DinPro', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .order_details_text {
      color: #A4ACAD;
      font-family: 'DinPro-regular', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      padding-top: 10px;

   }

   .order_details_text_list {
      padding-left: 20px;
      padding-top: 10px;

      .order_details_text_item {
         list-style: inside;
         color: #A4ACAD;
         font-family: 'DinPro-regular', sans-serif;
         font-size: 18px;
         font-style: normal;
         font-weight: 400;
         line-height: 100%;

      }
   }

   .details-shadow {
      position: relative;
   }

   .details-shadow::before {
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(180deg, rgba(242, 242, 242, 0.00) 0%, #F2F2F2 100%);
   }

   .details-shadow-none {
      display: none;
   }

   .order_details_button {
      color: #F46D40;
      font-family: 'DinPro-regular', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      padding-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      svg {}
   }
}