$laptop: 1200px;
$tablet: 768px;


//Адаптивное свойство
$maxWidth: 1920;
$maxWidthContainer: 1200;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
   $addSize: $startSize - $minSize;

   @if $type==1 {
      //Только если меньше контейнера
      #{$property}: $startSize + px;

      @media (max-width: #{$maxWidthContainer + px}) {
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidthContainer - 320}));
      }
   }

   @else if $type==2 {
      //Только если больше контейнера
      #{$property}: $startSize + px;

      @media (min-width: #{$maxWidthContainer + px}) {
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidth - 360}));
      }
   }

   @else {
      //Всегда
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidth - 360}));
   }
}


a,
a:visited {
   text-decoration: none;

}

ul li {
   list-style: none;
}

button {
   cursor: pointer;
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: none;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

html,
body {
   height: 100%;
   line-height: 1;
   background: #FFFFFF;
   font-size: 16px;
}

#root {
   // height: 100%;
   // line-height: 1;
}

.wrapper {
   display: grid;
   grid-template-areas:
      'menu header basket'
      'menu main basket'
      'menu footer basket';
   grid-template-columns: auto minmax(0, 1200px) auto;
   grid-template-rows: auto 1fr auto;
   min-height: 100vh;
}

.header {
   grid-area: header;
}

.footer {
   grid-area: footer;
}

.aside_menu_wrapper {
   grid-area: menu;
   justify-self: end;
   padding-right: 15px;
   padding-top: 30px;
   padding-left: 15px;
}

.dev_bask_wrapper {
   grid-area: basket;
   padding-left: 15px;
   padding-top: 55px;
   padding-right: 15px;
}

.main {
   grid-area: main;
   //padding: 0 15px 0 15px;
   //background-color: #F2F2F2;
}

[class*="__container"] {
   max-width: 1200px;
   margin: 0px auto;
   padding: 0px 15px;
}

@media (max-width:$tablet) {
   [class*="__container"] {
      max-width: 1200px;
      margin: 0px auto;
      padding: 0px 0px;
   }
}

[class*="__min_container"] {
   max-width: 980px;
   margin: 0px auto;
   padding: 0px 15px;
}


.order_details {
   padding-top: 50px;


   .order_details_title {
      color: #A4ACAD;
      font-family: 'DinPro', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .order_details_text {
      color: #A4ACAD;
      font-family: 'DinPro-regular', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      padding-top: 10px;
   }

   .order_details_text_list {
      padding-left: 20px;
      padding-top: 10px;

      .order_details_text_item {
         list-style: inside;
         color: #A4ACAD;
         font-family: 'DinPro-regular', sans-serif;
         font-size: 18px;
         font-style: normal;
         font-weight: 400;
         line-height: 100%;

      }
   }

   .order_details_button_wrapper {
      text-align: center;
      margin-top: 10px;

      .order_details_button,
      .arrow_rotate {
         color: #F46D40;
         font-family: 'DinPro-regular', sans-serif;
         font-size: 24px;
         font-style: normal;
         font-weight: 400;
         margin-top: 40px;
         gap: 10px;
         position: relative;
         cursor: pointer;
         user-select: none;
      }

      .order_details_button::after,
      .arrow_rotate::after {
         content: '';
         position: absolute;
         top: 55%;
         transform: translateY(-55%);
         right: -27px;
         width: 17px;
         height: 9px;
         background-image: url('./image/arrow.svg');
         background-repeat: no-repeat;
      }

      .arrow_rotate::after {
         transform: translateY(-55%) rotate(-180deg);
      }
   }

}

.details-shadow {
   position: relative;
}

.details-shadow::before {
   content: '';
   position: absolute;
   bottom: 20px;
   left: 0;
   width: 100%;
   height: 100px;
   background: linear-gradient(180deg, rgba(242, 242, 242, 0.00) 0%, #F2F2F2 100%);
}